@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Special+Elite&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --catColor: black;
  --blackCat: black;
}

.app {
  height: 100vh;
  max-width: 85rem;
  margin: 0 auto;
  border: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  background: rgb(5, 5, 10);
  font-family: "Nunito Sans", sans-serif;
}

.app::before {
  content: "";
  inset: 0;
  position: absolute;
  background-image: url("./catbg.jpeg");
  background-repeat: none;
  background-size: cover;
  opacity: 25%;
}

@media screen and (max-width: 650px) {
  .app::before {
    background-position-x: -250px;
  }
}

.main-scene {
  height: 400px;
  width: clamp(45%, 500px, 95%);
  position: relative;
  border-radius: 1rem;
}

.greeting {
  display: flex;
}

.greeting-container {
  padding: 2.5rem;
}

.header-text {
  font-size: 3.5rem;
  transform: scale(0);
  animation: scaleletter 1s var(--i) forwards;
  color: white;
  text-shadow: 1px 1px 1px white, 1px 5px 10px white;
}

@keyframes scaleletter {
  75% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

.belated-div {
  position: absolute;
  transform: rotate(-20deg);
  letter-spacing: 5px;
  color: red;
  text-align: center;
  z-index: 5;
  transform-style: preserve-3d;
  transform: rotate(-20deg) rotateY(90deg);
  animation: flipbelated 1s var(--i) forwards;
  font-family: "Special Elite", system-ui;
  border-radius: 1rem;
  border: 2px solid red;
  opacity: 75%;
}

@keyframes flipbelated {
  100% {
    transform: rotate(-20deg) rotateY(0deg);
  }
}

.small {
  font-size: 0.5rem;
}

.cat-window-scene {
  /* max-width: 300px; */
  width: 315px;
  height: 200px;
  border: 2px solid white;
  position: absolute;
  bottom: 0;
  right: 0;
  border-radius: 1rem;
  background: linear-gradient(6deg, rgb(125, 245, 235), rgb(65, 85, 240));
}

.cat-body {
  height: 86px;
  width: 80%;
  left: 17.5%;
  background: var(--catColor);
  position: absolute;
  bottom: 0;
  border-top-left-radius: 200px;
  border-top-right-radius: 200px;
}

.cat-paw {
  width: 65px;
  height: 20px;
  border-top-left-radius: 100px;
  position: absolute;
  bottom: 0;
  left: -35px;
  background: var(--catColor);
}

.cat-head {
  width: 85px;
  height: 65px;
  border-radius: 50%;
  background: var(--catColor);
  border: 1px solid black;
  position: absolute;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  padding-top: 1rem;
  left: -35px;
  animation: headraise 10s ease-out infinite;
}

@keyframes headraise {
  0% {
    transform: translateY(0rem);
  }
  25% {
    transform: translateY(0rem);
  }
  50% {
    transform: translateY(-1.5rem) translateX(1rem);
  }
  85% {
    transform: translateY(-1.5rem) translateX(1rem);
  }
  100% {
    transform: translateY(0rem);
  }
}

.ears-row,
.face-row {
  width: 100%;
  display: flex;
  align-items: center;
  /* transform: translateY(-0.5rem);
  padding: 0 0.25rem; */
}

.ears-row {
  top: -0.5rem;
  padding: 0 0.25rem;
  justify-content: space-between;
  position: absolute;
}

.face-row {
  justify-content: center;
  gap: 0.5rem;
  position: absolute;
  z-index: 5;
}

.ear {
  height: 30px;
  width: 30px;
  background: var(--catColor);
  /* border: 1px solid black; */
  clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
  clip-path: polygon(43% 0, 56% 0, 100% 100%, 0% 100%);
}

.ear1 {
  transform: rotate(-17.5deg);
}

.ear2 {
  transform: rotate(15deg);
}

.eye {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: rgb(220, 245, 2);
  animation: winkeyes 8s infinite;
}

@keyframes winkeyes {
  0% {
    transform: scaleY(1);
  }
  20% {
    transform: scaleY(1);
  }
  38% {
    transform: scaleY(1);
  }
  40% {
    transform: scaleY(0);
  }
  42% {
    transform: scaleY(1);
  }
  60% {
    transform: scaleY(1);
  }
  79% {
    transform: scaleY(1);
  }
  80% {
    transform: scaleY(0);
  }
  82% {
    transform: scaleY(1);
  }
  100% {
    transform: scaleY(1);
  }
}

.nose {
  width: 12px;
  height: 10px;
  background: rgb(20, 20, 30);
  clip-path: polygon(0 0, 50% 100%, 100% 0);
  transform: translateY(7.5px);
}

.tail {
  position: absolute;
  bottom: 0;
  right: 0;
  transform: rotate(90deg);
}

.tail-segment {
  width: 15px;
  height: 10px;
  background: var(--catColor);
  left: 10px;
  position: relative;
  border-radius: 10px;
  animation: tailwag 8s forwards cubic-bezier(0.075, 0.82, 0.165, 1) infinite;
}

.end-tail {
  background: white;
}

@keyframes tailwag {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(5deg);
  }
  20% {
    transform: rotate(25deg);
  }
  30% {
    transform: rotate(-10deg);
  }
  40% {
    transform: rotate(2deg);
  }
  /* 50% {
    transform: rotate(0deg);
  }
  60% {
    transform: rotate(12deg);
  } */
  70% {
    transform: rotate(17.5deg);
  }
  80% {
    transform: rotate(-2deg);
  }
  90% {
    transform: rotate(8deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
